@media (max-width: 1024px) {
  /* Header */
  .header {
    height: 400px;
    min-height: 810px;
    width: 101%;
}

  /* Header aside */
  .header aside {
    margin-left: 49%;
    margin-top: 259px;
  }
  .social-media {
    padding-left: 22%;
    top: 63%;
  }
  /* Social Media */
  .social-media > li > a {
    margin: 35px;
  }

  .social-media > li > a > i {
    font-size: 2em;
  }

  /* Intro Button Container */
  .intro-button-container {
    margin-top: 29vh;
    margin-left: 48%;
  }

  /* Intro Button */
  .intro-button {
    padding: 1em 2em;
    font-size: 1.0em;
  }

  .navbar ul{
    margin-left: 525px;
  }

  .services-box{
    width: 180px;
  }

  .project{
    height: 13vh;
    width: 27vw;
  }

}
