@media (max-width: 1024px) {
    /* Header */
    .header {
        height: 400px;
        min-height: 810px;
        width: 101%;
    }

    /* Header aside */
    .header aside {
        margin-left: 49%;
        margin-top: 259px;
    }

    .social-media {
        padding-left: 22%;
        top: 63%;
    }

    /* Social Media */
    .social-media > li > a {
        margin: 35px;
    }

    .social-media > li > a > i {
        font-size: 2em;
    }

    /* Intro Button Container */
    .intro-button-container {
        margin-top: 29vh;
        margin-left: 48%;
    }

    /* Intro Button */
    .intro-button {
        padding: 1em 2em;
        font-size: 1.0em;
    }

    /* Nav Bar */
    .navbar ul {
        margin-left: 525px;
    }

    /* Service */
    .services-box {
        width: 180px;
    }

    /* Projects */
    .project {
        height: 13vh;
        width: 27vw;
    }

}


@media (max-width: 1440px) {
    /* Header */
    .header {
        height: 600px;
        min-height: 845px;
        width: 101%;
    }

    .header aside {
        margin-left: 804px;
        font-size: 35px;
        margin-top: 230px;
    }

    .social-media {
        padding-left: 28%;
        top: 55%;
    }

    .intro-button-container {
        margin-top: 26vh;
        margin-left: 56vw;
    }

    /* Projects */
    .project {
        width: 20vw;
        height: 17vh;
    }

    .row1 {
        margin-left: 83px;
    }

}


@media (max-width: 768px) {
    .header {
        height: 600px;
        min-height: 845px;
        width: 131%;
        background-size: 120% 120%;
    }

    .about .about-content .about-text {
        flex: 0 0 124%;
        max-width: 196%;
    }

    nav{
        width: 132%;
    }
    .navbar ul {
        margin-left: 501px;
    }

    .about .about-content .personal-info {
        flex: 0 0 60%;
        max-width: 103%;

    }

    #services {
        width: 134%;
    }

    .project {
        width: 26vw;
        height: 12vh;
    }
    .project-container{
        margin-left: 4%;
    }
}
