@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Anton');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #999;
    background-color: #101010;
    overflow-x: hidden;
    line-height: 1.5;
}

@media (min-width: 1024px) {
    #header {
        background-attachment: fixed;
    }

}

.header {
    height: 600px;
    min-height: 700px;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/Home3.JPEG);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/Home3.JPEG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin-top: -19px;
}

.header aside {
    margin-left: 900px;
    font-size: 35px;
    margin-top: 120px;
    position: absolute;
    margin-bottom: 0;
}
.header aside h6{
    color: rgba(255, 255, 255, 0.87);
    font-size: 20px;
}
.social-media > li > a {
    display: inline-block;
    position: relative;
    margin: 2.2vw;
    color: white;
    animation: scaling 3s;
    transition: transform 0.3s ease-in-out;
}

.social-media > li > a:hover {
    transform: scale(1.1);
}

.social-media > li > a > i {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 2.5vw;
    animation: pulse 1s ease-in-out infinite;
}

.social-media > li {
    list-style-type: none;
}

.social {
    height: 9vh;
    position: relative;
    bottom: -10%;
}

.social-media {
    padding-left: 33%;
    position: relative;
    top: 54%
}

.social-media > li {
    position: relative;
    height: 9vh;
    padding: 0;
    text-align: center;
}

.intro-button-container {
    display: flex;
    margin-top: 55vh;
    margin-left: 59vw;
    animation: scaling 3s;
}

.intro-button {
    display: inline-block;
    padding: 1vw 4vh;
    padding-right: 1.4vw;
    padding-left: 1.4vw;
    border: solid #707070;
    color: white;
    text-decoration: none;
    font-size: 1vw;
    font-family: sans-serif;
    font-weight: 700;
    transition: all 0.3s ease;

}

.intro-button:hover {
    scale: 1.1;
    border: solid #da2843;
}

.intro-button:active {
    transform: translateY(2px);
    box-shadow: none;
}

.intro-button > i {
    text-align: right;
    padding-left: 1vw;
}

/*.back-arrow-container {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.back-arrow {*/
/*    font-size: 24px;*/
/*    color: #000;*/
/*    text-decoration: none;*/
/*}*/

/*.back-arrow:hover {*/
/*    color: #d43076;*/
/*}*/
.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.visible-title {
    visibility: visible;
}

nav {
    background: rgb(21, 21, 21);
    box-shadow: 0px 4px 8px 2px rgb(0, 0, 0);
    height: 65px;
    width: 100%;
    z-index: 40;
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    margin-top: -10px;
}

.navbar ul {
    display: flex;
    padding: 0;
    list-style: none;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    margin-left: 960px;
    margin-top: 10px;

}

.navbar li {
    position: relative;
    margin-top: 12px;
}

/*nav > ul > li {*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*    padding: 10px;*/
/*    font-family: "Open Sans", sans-serif;*/
/*    color: rgb(255, 255, 255);*/
/*    font-size: 14px;*/
/*    position: relative;*/
/*    list-style: none;*/

/*}*/
/*.navbar > ul{*/
/*    right: 50px;*/
/*}*/
.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 14px;
    color: #ffffff;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none !important;

}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: #da2843;
}

/*................About................*/
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.about .about-content .personal-info {
    flex: 0 0 50%;
    max-width: 60%;
    margin-top: 40px;
    box-sizing: border-box;
}

.padd-15 {
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    margin: 0;

}

#about {
    margin-top: 30px;
    margin-left: 5%;
}

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #302e4d;
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: #999;
}


.about .about-content .personal-info .info-Item {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
}

.about .about-content .personal-info .info-Item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid #393939;
}

.about .about-content .personal-info .info-Item p span {
    font-weight: 400;
    color: #999;
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons {
    padding: 0 50px;
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
    margin-top: 15px;
    text-decoration: none;
    height: 23px;
}

.personal-info {
    width: 50%;
}

.info-Item {
    font-size: 14px;
    margin-bottom: -24px;
}

/*Skill*/

.progress-bar-danger {
    background-color: #d9534f;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .skills .skill-item h5 {
    line-height: 0;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
    background-color: #393939;
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item .small {
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    border-radius: 4px;
    background-color: #d7243f;
}

.skill-item .small {
    margin-left: 430px;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: #d7243f;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}


/*................Services................*/
#services {
    background-color: black;
    margin-top: 25px;
    height: 640px;
}

.heading h2 {
    margin-left: 100%;
    margin-top: 35px;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.services-box {
    padding: 20px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 2px 7px;
    background-color: #222222;
}

.services-box .bx {
    padding-top: 2px;
    font-size: 54px;
    color: #f3223d;
}

.services-box h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.3rem 0 0.4rem;
    color: white;
}

.services-box p {
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.services-box:hover {
    background: #393939;
}

.services-box:hover h3 {
    color: #f3223d;
}

.services-box:hover p {
    color: #fff;
}

.services-box:hover .bx {
    color: #f3223d;
}

.services-box:hover p {
    color: #fff;
}


/*................Projects................*/

.projects .heading1 {
    margin-top: 30px;
    margin-left: 5%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
}

.project {
    width: 20vw;
    height: 33vh;
    margin: 3vh 3vw;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-out;

}

.project:hover {
    transform: translateY(-4vh);
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.7);
}

.project-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 1vw;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
}

.project:hover .project-overlay {
    transform: translateY(0);

}


.project-about {
    position: relative;
    height: 22vh;
    width: 35vw;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.project-about > h5:nth-child(1) {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.4vw;
    font-size: 1.2vw;
    font-weight: 900;
    margin: auto;
}

.project-about > h1:nth-child(2) {
    font-size: 1.5vw;
    margin-top: 2.5vh;
}

.project-about > p {
    font-size: 0.9vw;
    opacity: 40%;
    transition: 0.3s;
    cursor: pointer;
}

.project-about > p:hover {
    transition: 0.3s;
    opacity: 100%;
}

.project-container > div:nth-child(1) {
    background-size: cover;
    background-position: center;
    border-radius: 3vh;
}

.project-container > div:nth-child(2) {
    background-size: cover;
    background-position: center;
    border-radius: 3vh;
}

.project-container > div:nth-child(3) {
    background-size: cover;
    background-position: center;
    border-radius: 3vh;
}

.project-container > div:nth-child(4) {
    background-size: cover;
    background-position: center;
    border-radius: 3vh;
}

.project-container > div:nth-child(5) {
    background-size: cover;
    background-position: center;
    border-radius: 3vh;
}

.project-container > div:nth-child(6) {
    background-size: cover;
    background-position: center;
    border-radius: 3vh;
}


/*................Contact................*/

.row1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
}

.contact .heading1 {
    margin-top: 79px;
    margin-left: 5%;
    margin-bottom: 60px;
}

.contact-title {
    color: #da2843;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: white;
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact .contact-info {
    flex: 0 0 10%;
    max-width: 15%;
    text-align: center;
    margin-bottom: 60px;
    margin-left: 10%;

}

.contact .contact-info .icon {
    display: inline-block;
}

.contact .contact-info .icon .fa {
    font-size: 25px;
    color: #d7243f;
}

.contact .contact-info h4 {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info p {
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 400;
}

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 55px;
}

.contact .contact-form .col-6 {
    flex: 0 0 44%;
    max-width: 50%;
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 80%;
    height: 30px;
    border-radius: 25px;
    background: #222222;
    border: 1px solid #383838;
    padding: 10px 25px;
    font-size: 16px;
    color: white;
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea .form-control {
    height: 140px;
}

.title {
    width: 55px;
    height: 4px;
    background-color: #da2843;
    margin-top: -20px;
}


/*------------footer---------------*/

footer {
    border-top: 1px solid #090909;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

footer hr {
    width: 100px;
}

.container .footer .social-icon {
    position: relative;
    padding: 0;
    margin: 0;

}

.container .footer .social-icon li{
    display: inline-block;
    list-style: none;
}
.container .footer .social-icon li a
{
    border-radius: 50%;
    color: #606060;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    text-align: center;
    margin-right: 10px;
}
.container .footer .social-icon li a:hover
{
    color: #D43F52;
}

.container .footer p {
    margin-left: 5%;
}
